* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #e4e4e4;
  padding: 1rem;
}
body.dark {
  background: #333;
  color: #eee;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#search {
  padding: 0.5rem;
  width: 80%;
  max-width: 300px;
  border: 1px solid #8f8f8f;
  border-radius: 8px;
  margin: 0.5rem 0;
}

#sort {
  padding: 0.4rem 0.6rem;
  width: auto;
  border: 1px solid #8f8f8f;
  border-radius: 6px;
  margin-top: 0.3rem;
  background-color: #e4e4e4;
  color: #333;
  font-size: 0.9rem;
  cursor: pointer;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.6s ease-in;
  transition: transform 0.3s ease,border 0.3s ease;
}
.card.dark{
  background: #333;
  color: #eee;
}

.card:hover {
  transform: scale(1.03);
  border: 3px solid #b42e2e;
  transition: transform 0.2s ease, border 0.2s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.card h2 {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.card p {
  margin: 0.2rem 0;
  font-size: 0.9rem;
}

.card a {
  font-size: 0.9rem;
  color: #0077cc;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

button.adopt-btn {
  margin-top: auto;
  background-color: #b42e2e;
  color: white;
  border: none;
  padding: 0.6rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s ease;
}

button.adopt-btn:hover {
  background-color: #e62f2f;
}

button.adopt-btn.dark {
  background-color: #ff5252;
}

#toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #4caf50;
  color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  opacity: 0.9;
}

.hidden {
  display: none;
}

/* Spinner Loader */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-container p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #444;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #ff8c42;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

.loader-container.hidden {
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
